<!DOCTYPE html>
<html>
  <head>
    <title>Jautocomplete</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      #frm {
        margin-top:13px;
      }
    </style>
  </head>

  <body>
  	<div class="navbar navbar-default">
  		<div class="container">
  			<div class="navbar-header">
  				<a href="#" class="navbar-brand">AUTOCOMPLETE</a>
  			</div>
  			<ul class="nav navbar-nav navbar-right">
  				<li>
              <%= form_tag books_path, id: "frm", method: :get do %>
                <%= text_field_tag :search, params[:search], size: 30 %>
                <%= submit_tag "Search", name: nil %>
              <% end %>    
          </li>
  				<li><a href="#">Home</a></li>
  				<li><a href="#">Portfolio</a></li>
  				<li><a href="#">Event</a></li>
  			</ul>
  		</div>
  	</div>
  	<div class="container">
	    <%= yield %>
  	</div>
  </body>
</html>
